@inherits LayoutComponentBase
@using Puns.Blazor.Pages

<div class="page">

    <div class="main">

        <div class="content px-4">
            <PunPage></PunPage>
        </div>
    </div>
</div>
